@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


@font-face {
    font-family: 'Anglecia Pro Display';
    src: url('../fonts/AngleciaProText-Regular.eot');
    src: local('☺'), url('../fonts/AngleciaProText-Regular.woff') format('woff'), url('../fonts/AngleciaProText-Regular.ttf') format('truetype'), url('../fonts/AngleciaProText-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('☺'), url('../fonts/SFProDisplay-Medium.woff') format('woff'), url('../fonts/SFProDisplay-Medium.ttf') format('truetype'), url('../fonts/SFProDisplay-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('☺'), url('../fonts/SFProDisplay-Regular.woff') format('woff'), url('../fonts/SFProDisplay-Regular.ttf') format('truetype'), url('../fonts/SFProDisplay-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}