h1 {
    font-family: 'Anglecia Pro Display';
    font-size: 50px;
    font-weight: 400;
}

body {
    font-family: 'Open Sans',
        sans-serif;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.subtitle {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}