.comfort {
    padding-top: 150px;

    &__header {
        max-width: 1380px;
        margin-left: auto;
        padding: 0 15px;
    }

    &__title {
        letter-spacing: 0.085em;
        color: #2F3139;
        margin-bottom: 50px;
    }

    &__text {
        font-size: 18px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.5);
        max-width: 625px;
        margin-bottom: 90px;
    }

    &__wrapper {
        width: 100%;
        background-color: #212121;
        padding: 100px 0;
    }

    &__sliders {
        max-width: 1380px;
        margin-left: auto;
    }

    &__more {
        display: none;
    }
}

@media (max-width: 1000px) {
    .comfort {
        &__wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (max-width: 640px) {
    .comfort {
        &__title {
            font-size: 35px;
            line-height: 44px;
            margin-bottom: 30px;
        }

        &__text {
            font-size: 16px;
            line-height: 22px;
        }

        &__wrapper {
            padding-bottom: 40px;
            padding-top: 130px;
        }
    }
}

@media (max-width: 320px) {
    .comfort {
        padding-top: 75px;

        &__title {
            font-size: 28px;
            line-height: 35px;
            margin-bottom: 40px;
        }

        &__text {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 40px;
        }

        &__wrapper {
            padding: 70px 10px;

        }

        &__more {
            display: block;
            text-align: center;
            font-size: 16px;
            line-height: 22px;
            position: relative;
            color: rgba(255, 255, 255, 0.5);
            margin-left: -13px;
        }

        &__more::after {
            content: '';
            position: absolute;
            right: 70px;
            top: 5px;
            width: 13px;
            height: 13px;
            background: url(../../images/refresh.svg)center center/cover no-repeat;
        }
    }
}