.footer {
    background-color: #F3F3F3;
    padding: 145px 0 45px;
    color: #000;

    .container {
        max-width: 1220px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 50%;
    }

    &__left-item {
        max-width: 435px;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 35px;
    }

    &__subtitle {
        max-width: 425px;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: rgba(#000000, 0.5);
        margin-bottom: 50px;
    }

    &__left-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__contacts {
        padding-left: 32px;
    }

    &__contact-tel {
        font-size: 16px;
        line-height: 24px;
        display: block;
        color: rgba(0, 0, 0, 0.6);
        position: relative;
        margin-bottom: 15px;
    }

    &__contact-tel::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        top: 4px;
        left: -32px;
        background: url(../../images/phone.svg)center center/cover no-repeat;
    }

    &__contact-email {
        font-size: 18px;
        line-height: 24px;
        display: block;
        color: rgba(0, 0, 0, 0.6);
        position: relative;
    }

    &__contact-email::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        top: 6px;
        left: -32px;
        background: url(../../images/mail.svg)center center/cover no-repeat;
    }

    &__button {
        width: 167px;
        height: 58px;
        color: #717171;
        border: 1px solid #717171;
        background-color: transparent;
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
    }

    &__right {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    &__right-item {
        max-width: 50%;
    }

    &__link {
        font-size: 18px;
        line-height: 33px;
        color: #000;
    }

    hr {
        margin: 65px 0 35px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__social {
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social-link {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: #000;
    }

    &__rights {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
    }
}

@media (max-width:1000px) {
    .footer {
        .container {
            padding: 0 20px;
            flex-wrap: wrap;
        }

        &__title_none,
        &__subtitle {
            display: none;
        }

        &__contacts {
            order: 2;
            width: 50%;
            flex-wrap: wrap;
        }

        &__button {
            order: 1;
        }

        &__left,
        &__right {
            width: 100%;
        }

        &__left {
            order: 2;
            margin-top: 35px;
        }

        &__left-item {
            margin: 0;
            min-width: 100%;
        }

        &__right {
            order: 1;
        }

        &__right-item {
            min-width: 50%;
        }

        &__contacts {
            display: flex;
            justify-content: space-between;
        }

        &__contact-tel {
            margin-right: 35px;
        }

        &__contact-email {
            margin-right: 75px;
        }
    }
}

@media (max-width: 640px) {
    .footer {
        position: relative;
        margin-bottom: 55px;
        padding-bottom: 0;
    }

    .subfooter {
        justify-content: center;

        .footer__social {
            justify-content: center;
            width: 100%;
            margin-bottom: 30px;

            &-link {
                margin: 0 17px;
            }
        }

        .footer__rights {
            position: absolute;
            bottom: -40px;
            margin-left: 50%;
            transform: translateX(-60%);
        }
    }
}

@media (max-width: 320px) {
    .footer {
        padding: 45px 0 0px;

        .container {
            padding: 0 10px;
            flex-wrap: wrap;
        }

        &__right {
            flex-wrap: wrap;
            justify-content: start;
            order: 1;
        }

        &__right-item {
            max-width: 100%;
            margin-bottom: 45px;
        }

        &__left-wrapper {
            flex-wrap: wrap;
        }

        &__contacts {
            width: 100%;
            padding-bottom: 40px;
            order: 1;
        }

        &__button {
            order: 2;
        }

        .subfooter {

            .footer__social {
                justify-content: space-between;
                width: 100%;
                margin-bottom: 30px;
            }

            .footer__rights {
                width: 269px;
                transform: translateX(-50%);
            }
        }
    }
}